name: "TEST"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
    - name: Prepare
      run: |
        echo "12345"
        curl http://ipinfo.io

